.board {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
}

.row {
  display: flex;
  flex-direction: row;
}

.box {
  width: 36px;
  height: 36px;
  border: 0.5px gray solid;
}

.box.fill{
  background-color: teal;
}

.box.food{
  background-color: orange;
}
