.board {
  display: flex;
  flex-direction: column;
  border: 4px orange solid;
}

.row {
  display: flex;
  flex-direction: row;
}

.box {
  width: 30px;
  height: 30px;
  border: 1px gray solid;
}

.box.fill{
  background-color: teal;
}
